@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
/* navBackground=ffffff secondaryColor=e33203 --textPrimaryColor: 00000; */
/* navBackground=1a1a1a secondaryColor=e33203 --textPrimaryColor: ffffff; */

/* Colors */
:root {
  --navBackgroundLight: #ffffff;
  --textPrimaryColorLight: #000000;
  --secondaryColor: #fc6036;
  --backgroundColorSecondaryLight: #d6e3fe;
}

/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--navBackgroundDark);
}

.dark-mode {
  --navBackgroundDark: #1a1a1a; /* Dark background color */
  --textPrimaryColorDark: #ffffff; /* Change text color for dark mode */
}

.navbar {
  position: fixed;
  top: 0; /* Fixed to the top of the viewport */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--navBackgroundDark);
  color: var(--textPrimaryColorDark);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

/* Left section styles */
.left-section {
  flex: 1;
}

.heading {
  margin: 0;
  font-size: 3vw; /* Dynamic font size based on viewport width */
  font-weight: 600;
  font-family: "Platypi", sans-serif; /* Apply Platypi font */
  color: var(--textPrimaryColorDark);
}

/* Middle section styles */
.middle-section {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-button {
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.25vw; /* Dynamic font size based on viewport width */
  color: var(--textPrimaryColorDark);
}

/* Right section styles */
.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-button {
  background-color: var(--navBackgroundDark);
  color: var(--textPrimaryColorDark);
  cursor: pointer;
  font-weight: bold; /* Bold text */
  align-items: center;
  border: 0;
  border-radius: 100px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.signUp-button {
  background-color: var(--secondaryColor);
  color: var(--navBackground);
  cursor: pointer;
  font-weight: bold; /* Bold text */
  align-items: center;
  border: 0;
  border-radius: 100px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.light-mode .navbar {
  background-color: var(--navBackgroundLight);
}
.login-button,
.signUp-button {
  padding: 12px 24px; /* Increase padding for login and sign up buttons */
}

.theme-toggle {
  font-size: 30px;
  cursor: pointer;
  color: #fff; /* Initial color */
}

.light-mode .theme-toggle {
  color: #f1c40f; /* Change color for visibility */
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .left-section {
    flex: 1;
  }

  .heading {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .middle-section {
    flex: 1; /* Adjust flex value for smaller screens */
    justify-content: center;
  }

  .nav-button {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .right-section {
    flex: 1;
    justify-content: flex-end;
    align-items: center;
  }

  .login-button,
  .signUp-button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .theme-toggle {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust height as needed */
  font-family: "Roboto", sans-serif; /* Fallback font */
  background-color: var(--navBackgroundDark);
}

.home-content {
  text-align: center;
}

.home-heading {
  width: 80%; /* Limit the width to allow for two lines */
  margin: 0 auto; /* Center the heading */
}

.home-heading h2 {
  font-family: "Platypi", sans-serif; /* Apply Platypi font */
  font-size: 2.5rem; /* Increase font size */
  line-height: 1.2; /* Set line height to control spacing */
  color: var(--textPrimaryColorDark);
}

.tagline p {
  margin-top: 10px; /* Add some space between heading and tagline */
  font-size: 1.2rem; /* Increase font size */
  color: var(--textPrimaryColorDark);
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px; /* Add some space between tagline and buttons */
}

.learn-more-button,
.try-it-now-button,
.summarize-button {
  background-color: var(--secondaryColor);
  color: var(--textPrimaryColorDark);
  cursor: pointer;
  font-weight: bold; /* Bold text */
  align-items: center;
  border: 0;
  border-radius: 100px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 12px 24px;
}

.login-button:hover,
.try-it-now-button:hover,
.nav-button:hover {
  color: var(--secondaryColor); /* Change background color on hover */
}
.signUp-button:hover,
.learn-more-button:hover,
.summarize-button:hover {
  color: var(--secondaryColor); /* Change background color on hover */
  background-color: var(--textPrimaryColorDark);
}
.arrow-right {
  padding-top: 4px;
  padding-left: 8px;
}
.try-it-now-button {
  background-color: var(--navBackgroundDark);
}
.light-mode {
  background-color: var(--navBackgroundLight);
  color: var(--textPrimaryColorLight);
}

.light-mode .login-button {
  color: var(--textPrimaryColorLight);
}
.light-mode .login-button:hover {
  color: var(--secondaryColor);
}
.light-mode .signUp-button {
  background-color: var(--secondaryColor);
}
.light-mode .signUp-button:hover,
.light-mode .learn-more-button:hover,
.light-mode .summarize-button:hover {
  color: var(--navBackgroundLight);
  background-color: #ee1203;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--navBackgroundDark);
}
.headingContainer {
  margin: 0 auto;
}
.headingContainer h3 {
  width: 100%;
  font-family: "Platypi", sans-serif; /* Apply Platypi font */
  font-size: 2rem; /* Increase font size */
  color: var(--textPrimaryColorDark);
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.dataContainer h2 {
  font-family: "Platypi", sans-serif; /* Apply Platypi font */
  font-size: 1.5rem; /* Increase font size */
  color: var(--textPrimaryColorDark);
}

/* Panel styles */
.text-panel,
.summary-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  border-radius: 8px;
  width: 50%;
}
.summary-panel h2 {
  margin-top: 37px;
  margin-bottom: 0px;
}

/* Textarea and summarized text styles */
textarea,
#summaryText {
  height: 50vh;
  width: 75%;
  padding: 20px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: var(--textPrimaryColorDark);
  min-height: 300px;
  resize: none;
  font-size: 1rem;
}
#summaryText {
  margin-top: 35px;
}
#characters-left {
  padding-bottom: 15px;
  font-size: 1rem; /* Increase font size */
  color: var(--textPrimaryColorDark);
}
.container button {
  margin-top: 30px;
}
/* Additional adjustments for Enter Text and Slider */
.text-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 10px;
}

.text-input-container h2 {
  margin: 0 auto; /* Added margin */
}

.slider-container {
  display: flex;
  flex-direction: column; /* Changed to column */
  align-items: center; /* Center items horizontally */
  width: 30%;
  margin: 0 auto; /* Center the slider container */
  position: relative;
}

/* Styles for slider input */
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 1px;
  border-radius: 10px;
  background: var(--textPrimaryColorDark);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-bottom: 10px; /* Added margin */
}

/* Styles for slider thumb (webkit) */
.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Decreased width of slider thumb */
  height: 15px; /* Decreased height of slider thumb */
  border-radius: 50%;
  background: var(--secondaryColor);
  cursor: pointer;
  border: 2px solid var(--secondaryColor); /* Add border */
}

/* Styles for slider value display */
.slider-value {
  text-align: center;
  background-color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease;
  font-size: 0.75rem;
  margin-top: 10px;
  color: var(--textPrimaryColorDark);
}

.slider:hover + .slider-value {
  opacity: 1; /* Show on hover */
}
.light-mode .container {
  background-color: var(--backgroundColorSecondaryLight);
}
.light-mode .slider {
  background: var(--textPrimaryColorLight);
}

.light-mode .slider-value {
  background-color: var(--navBackgroundLight);
}

.light-mode textarea,
.light-mode #summaryText {
  background-color: var(--navBackgroundLight);
  border: 1px solid #333;
}

footer {
  background-color: var(--navBackgroundDark);
  color: white;
  padding: 20px;
  margin: 0 auto;
  bottom: 0;
  width: 80%;
}

footer h2 {
  text-align: center;
  margin: 0;
  font-size: 2vw; /* Dynamic font size based on viewport width */
  font-weight: 600;
  padding-bottom: 2em;
  font-family: "Platypi", sans-serif; /* Apply Platypi font */
  color: var(--textPrimaryColorDark);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2,
h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
.footer-content .year {
  font-size: 1rem;
  font-weight: 600;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.footer-content .social-links {
  display: flex;
  gap: 10px;
}

.footer-content .social-links a {
  color: var(--textPrimaryColorDark);
  text-decoration: none;
  font-size: 2rem;
}

.light-mode .social-links a {
  color: var(--textPrimaryColorLight);
}

.light-mode .year {
  color: var(--textPrimaryColorLight);
}

.light-mode footer h2 {
  color: var(--textPrimaryColorLight);
}
